@font-face { 
    font-family: 'BBTreeGR'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}


[data-navicon="button"] {
    display: inline-block;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
[data-navicon="button"] > * {
    display: block;
}
[data-navicon="button"]:focus {
    outline: none;
}

.navicon {
    padding: 0.7777777778rem 0.4375rem;
    transition: 0.3s;
}

.navicon__lines {
    display: inline-block;
    width: 1.75rem;
    height: 0.25rem;
    background: black;
    border-radius: 0.125rem;
    transition: 0.3s;
    position: relative;
    
}
.navicon__lines:before, .navicon__lines:after {
    display: inline-block;
    width: 1.75rem;
    height: 0.25rem;
    background: black;
    border-radius: 0.125rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.125rem center;
            transform-origin: 0.125rem center;
}
.navicon__lines:before {
    top: 0.4375rem;
}
.navicon__lines:after {
    top: -0.4375rem;
}
.is--closed .navicon__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
}

.navicon-x.is--closed .navicon__lines {
    background: transparent;
    
}
.navicon-x.is--closed .navicon__lines:before, .navicon-x.is--closed .navicon__lines:after {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    top: 0;
    width: 1.75rem;
}
.navicon-x.is--closed .navicon__lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}
.navicon-x.is--closed .navicon__lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
html.pinned {
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    
}

h1 {
    margin-top: 0;
    padding-top: 0px;
    font-family: 'BBTreeGR';
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
}

p {
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 2;
    text-align: justify;
}
.mid {
    font-size: 22px;
}

body {
    font-family: 'BBTreeGR';
    font-weight: 300;
}
body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    z-index: -1;
    background: url("../img/bg.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-filter: sepia(0.5);
            filter: sepia(0.5);
    opacity: 0.9;
}

.grid {

    max-width: 1040px;
    margin: 0 auto;
    padding: 0 5%;
}
.banner .grid {
    padding: 0;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 5%;
}

@media only screen and (min-width: 766px) {
    .banner .grid {
        display: flex;
        align-items: center;
    }
}

.block {
    margin:50px;
}

.banner {
    height: 100%;
    position: absolute;
    top: 0;
    max-height: 70px;
    width: 100%;
    overflow: hidden;
    z-index: 999;
    transition: all 0.3s;
    font-family: 'BBTreeGR';
}

@media only screen and (min-width: 766px) {
    .banner {
        height: auto;
    }
}
.banner.is-open {
    max-height: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}

.hero {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    min-height: 100vh;
    font-family: 'BBTreeGR';
    letter-spacing: 2px;
}

@media only screen and (min-width: 766px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.hero__title {
    display: table-cell;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: auto;
    font-size: 50px;
    line-height: 2.3;
    font-size: 100%;
}

@media only screen and (min-width: 766px) {
    .hero__title {
        display: block;
        height: auto;
        width: auto;
    }
}

.hero__tagline {
    display: table-row;
}

@media only screen and (min-width: 766px) {
    .hero__tagline {
        display: block;
    }
}

.logo {
    display: block;
    flex: 1;
    margin-top: 0;
    width: 80%;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    color: black;
}

@media only screen and (max-width: 766px) {
    .logo {
        margin-top: 29.5px;
    }
}

@media only screen and (max-width: 766px) {
    nav {
        width: 100%;
    }
}
nav a {
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
}
@media only screen and (min-width: 766px) {
    nav a {
        font-size: 15px;
    }
}

.nav__list {
    list-style: none;
    padding-left: 10px;
}

.nav__list-item {
    line-height: 3.0;
}
@media only screen and (min-width: 766px) {
    .nav__list-item {
        display: inline-block;
        margin-left: 35px;
    }
}

.icon-menu {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 22px;
}
@media only screen and (min-width: 766px) {
    .icon-menu {
        display: none;
    }
}

.section {
    margin-top:10px;
    background: rgb(33, 38, 46);
    color: #CCC;
}

.is-sticky {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}


@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(14px);
                transform: translateY(14px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(14px);
                transform: translateY(14px);
    }
}