html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, #d9eec8 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
    background: url(../img/wave2.png) repeat-x;
    position:absolute;
    left:0;
    bottom:-2%;
    width:400%;
    height: 70%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.00s infinite;
    transform: translate3d(0, 0, 0);
}

.ocean:nth-of-type(2) {
    background: url(../img/wave1.png) repeat-x;
    bottom:-5%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,0px,0);
  }
  50% {
    transform: translate3d(0,10px,0);
  }
}
